:root{
    --primary-color:#830cff;
    --sidebar-color:#222;
    --background-color:#f7f9fc;
    --padding-default:20px;
    --border-radius:3px;
    --ico-size:20px;
}
a, button{
    transition:.4s all;
}

body, html {
    height: 100%;
    margin: 0;
    background:var(--background-color);
    font:13px "Open Sans", sans-serif;
    font:13px Helvetica;
    font-family: 'DM Sans', sans-serif;
}

/* structure */
.container {
    display: flex;
    height: 100%;
}

#sidebar {
    width: 300px;
    background: var(--sidebar-color); /* For visualization purposes */
    color:#fff;
    display:flex;
    flex-direction:column;
}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 25px;
    max-height: 100%;
    overflow-y: scroll;
}
/* content header */

#header {
    display: flex;
    width:100%;
    align-items: center;
    justify-content: space-between;
}
#header h3{
    margin:0;
    font-size: 24px;
    line-height: 45px;
    /*flex:1;*/
    width:max-content;
    justify-self:flex-start;
}

/* search */
#search{
    width:max-content;
    width:100%;
    max-width:400px;
    position:relative;
    justify-self: flex-end;
}
#search i{
    position: absolute;
    left:10px;
    font-size:16px;
    top:50%;
    transform:translateY(-50%);
}
#s{
    padding:10px;
    padding-left:30px;
    border-radius: 500px;
    width:100%;
    width:calc(100% - 42px);
    margin: 5px 5px 5px 0;
    transition:.4s all;
    max-width:400px;
    border:1px solid #ccc;
    background:rgba(255,255,255,.3);
}
#s:focus{
    outline:none;
    background:#fff;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border-color: rgba(81, 203, 238, 1);
}


/* content */
#content{
    flex:1;
    margin-top:20px;
}

.ui-tabs .ui-tabs-panel{
    padding:0;
}

#tabs ul.ui-tabs-nav li{
    border:unset;
    background:unset;
}
#tabs ul.ui-tabs-nav li a{
    box-shadow:unset;
}

.ui-widget.ui-widget-content{
    padding:unset;
    border:unset;
    background:unset;
}

#spam, #emails{
    background:#fff;
    border:1px solid #ccc;
}
#threshold-container{
    display:flex;
    align-items:center;
}
#threshold{
    flex:1;
}
#threshold-val{
    width:50px;
}


#mark-all-spam, #mark-all-not-spam{
    padding:10px;
    transition:.4s all;
    background:#fff;
    font-size:13px;
    cursor:pointer;
    border-radius:var(--border-radius);
    display:none;
}
#mark-all-spam i, #mark-all-not-spam i{
    margin-right:10px;
}
#mark-all-spam{
    border:1px solid var(--primary-color);
    color:var(--primary-color);
}
#mark-all-not-spam{
    border:1px solid #4BB543;
    color:#4BB543;
}
#mark-all-spam:hover, #mark-all-not-spam:hover{
    opacity:.7;
}